.collapse{
    justify-content: flex-end;
}
.nav-item a:hover{

    text-decoration: underline;
    color: #fff;
}
.navbar-bar{
    color: #fff;
    font-size: 30px;
    margin-right: 30px;
}
.navbar-bar:hover{
    color: #34ca3e;
    transform: scale(1.2);

    
}
.navbar-toggler{
    background-color: #fff !important;
}
.navbar .form-control {
    background-color: #272727;
    width: 300px;  
    border-radius: 20px;  
    padding-left: 20px;  
    transition: width 0.4s ease-in-out; 
}

.navbar .form-control:focus {
    width: 300px;  
    border-color: #fff;  
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
}

.nav-item:hover{
    color: #1db954;
    transform: scale(1.2);


}
.main{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0em;
}
.audio{
    width: 250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    background-color: #272727;
    color: white;
    box-shadow: 1px 1px 20px 1px black;
    flex: 1 1 250px;
    margin: 1em;
    border-radius: 5px;
}
.audio:hover{
    transform: scale(1.2);
}
.audio img{
    width: 200px;
    height: 200px;
    margin: 0.5em;
}
.audio h2{
    font-weight: 500;
    font-size: medium;
    margin: 0.5em;
}
.audio p{
    font-size: small;
    font-weight: 300;
    text-align: center;
    margin: 0.5em;
}
.btn{
    background-color: #4aae4f !important;
}
footer {
    background-color: #121212;
    color: white;
    padding: 40px 20px;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  footer div {
    flex: 1;
    margin: 10px;
  }
  
  footer h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: #1db954;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
  }
  
  .social-media {
    margin-top: 10px;
  }
  
  .social-icon {
    
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 30px;
  
  }
  
  .social-icon:hover {
    color: #1db954;
    transform: scale(1.2);
  }
  .social-icon:hover i{
    background-image: linear-gradient(to bottom right, red,green);
    color: rgb(24, 206, 103);
    animation: shake 0.75s;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
    
}


html{
    scroll-behavior: smooth;
}
